export rabbitmq_host='localhost'
export queue_name='hl7'
export rmq_port=5672
export rmq_username='admin'
export rmq_password='password'
export rmq_vhost='/'


export OPENAI_API_KEY='sk-bla"'

source_env_if_exists .envrc.local